#Div1{
    background-color: red;
    height: 200px;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#Div2{
    height: 100px;
    width: 100px;
    background-color: green;
}

#sample-para{
    border: 2px; color: red; border-style: solid;
    text-decoration: underline;
    font-size: 20px;
}